.customImg{
  height: 90px;
  width: 144px;
}

.customImg2{
  height: 300px;
  width: 350px;
}


body{
  overflow-x: hidden;
}

.customTag{
background-image: 
  linear-gradient(rgba(200,70,20,0.9), rgba(200,70,20,0.9)),
  url("./asssets/bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.fill-screen{
  height: 60vh;
}

:root{
  --bs-orange:#e96c1f;
  --bg-color:#b67a48;
}

.bg-custom-orange{
  background-color: var(--bs-orange)

}

.card-img-custom{
  height: 400px;
  object-fit: cover;
}


.bg-footer{
  background-color: var(--bg-color);
}

.bg-bttons{
  background-color: #b67a48;
  color: white;
  border: none;
}
.bg-bttons:hover{
  background-color: #a06a3e;
  color: white
  ;
}

.sk-button{
  height: 58px;
  width: 130px;
  background-color: #f4524d;
}

.sk-fonts{
  font-family: sans-serif;
  font-size: 30px;
}

.inner-img{
  height: 100px;
  width: 120px;
}

.text-bold{
  font-family: serif;
  font-weight: bold;
}

.text-color{
  color: #b67a48;
  font-size: 27px;
}

.p-text{
  font: 16px;
  
}

.contact-sk-button{
   height: 58px;
  width: 130px;
 
}

.nav-link.active{
  color: #b67a48 !important;
}

.footer-heading{
  font-size: 17px;
  font-family: sans-serif;
}


.footer-content{
  font-size: 14px;
  font-family: sans-serif;
}


.customAnimi:hover{
  color: #b67a48;
}


.product-Animi:hover{
  background-color: #e96c1f;
}


@media (max-width:881px){
  .nav-link-header{
    background-color: #EAEAEA;
    color: black;
    border: 1px solid white;
    padding-left: 10px;
    font: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
  }
  .navbar-nav   .nav-link-header:hover{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
  }
}


/* @media (max-width:800px){
  .category-button{
    order: 2;
    margin-top: 20px;
    background-color: white;
    border: 1px solid white;
    color: black;
  }
  .product-section{
    order: 1;
  }
} */


 .category-button{
 background: #b67a48;
 color: white;
 border: 1px solid white;
 /* padding: 8px 12px; */
 width: auto;
 ;}


 @media (max-width:576px){
   .category-button{
    width: 100%;
    background: white;
    color: #000;
    border: 1px solid #ddd;
   }
} 